<h2><%= @user.email %>'s maps</h2>
<%= button_to "Create a Map", new_user_map_path(@user.id), method: 'get', remote: true, class: "create_map_button" %>
<div id="map_form"></div>
<div class="map-view"></div>
<div class="maps-list">
  <% @maps.each do |map| %>
    <%= link_to map.artist, user_map_path(@user, map.id), class: "view-map-link" %>
    <%= link_to "Delete", user_map_path(@user, map.id), method: "delete" %>
    <br>
  <% end %>
</div>